# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
*.vscode

# tests
test*

#diretorios do servidor
bin/servidor/users/*
bin/servidor/online/*
bin/servidor/matches/*
servidor/servidor
bin/servidor/log/*

#executaveis
*jogo-da-velha